@import 'tailwindcss';
@font-face {
  font-family: 'Google Sans';
  src: url('../assets/fonts/GoogleSans.ttf') format('truetype');
  font-weight: 400 500 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    font-family: 'Google Sans', sans-serif;

    /* cursor:
      url('../assets/icons/cursor.svg') 1 1,
      auto; */
  }
}
